@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5px; /* Adjust as needed to offset fixed headers */
    transition: scroll-behavior 15s; /* Change 1s to the desired duration */
  }

   .react-international-phone-country-selector button,  .react-international-phone-input{
    border: none!important;
    outline: none;
    font-size: 1rem!important;
  }